/*class . 
id #
*/

html, body {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.browntext {
    color: #3C2600;
}

.tantext {
    color: #D0C3AC;
}

h3 {
    color: #3C2600;
}

/* navbar */
.navbar-inverse {
    background-color: #FFFFFF;
    border-color: #000000; /*black*/
    border-width: 4px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #5A76B1; 
}

.navbar-inverse .navbar-brand {
    color: #D0C3AC;
    font-weight: bolder;
    font-size: 28pt;
}

.active {     /*not working*/
    background-color: #D0C3AC;
    color: #3C2600;
    font-weight: bold;
}

a:hover {
    color: #D0C3AC;
    font-style: italic;
}

.hover {
    color: #D0C3AC;
    font-style: italic;
    margin-left: 15px;
}

#border {
    border-width: 4px;
    border-color: #3C2600;

}



#banner {
    width: 100%;
}

.tablehead {
    background-color: #3C2600;
}

#tablebody {
    background-color: #D0C3AC;
    color: #3C2600;
}

#productImageSize {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.thumbnail {
    height: 75px;
}

#homepageImage {
    width: 100%;
}

#logo {
    margin-top: -10px;
}

#welcome {
    text-align: right;
}

.center {
    text-align: center;
}

.imagewidth {
    width: 350px;
}

#tiny {
    height: 50px;
}



/*attempted popup css*/
#thumbwrap {
    position:relative;
    margin:75px auto;
}
.thumb img { 
    border:1px solid #000;
    margin:3px;
    float:left;
}
.thumb span { 
    position:absolute;
    visibility:hidden;
}
.thumb:hover, .thumb:hover span { 
    visibility:visible;
    bottom:0px; left:0px; 
    z-index:1;
}

#popup {
    width: 350px;
}

#rowHeight {
    height: 75px;
}

#categoryImage {
    height: 200px;
}

#categoryIndent {
    margin-left: 20px;
}

input {
    border-width: 1px;
    border-style: solid;
    border-color: #D0C3AC;
}

#registerImg {
    width: 100%;
}