class . 
id #

body {
	background-color: #d0c3ac;
}

html {
	background-color: #d0c3ac;
}


/* navbar */
.navbar-fixed-top {
    border-radius: 20px;
}

.navbar-inverse {
    background-color: #3c2600; /*dark green*/
    border-color: #d0c3ac; /*light green*/
    border-width: 4px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #d0c3ac; /*black*/
}

.navbar-inverse .navbar-brand {
    color: #d0c3ac;
    font-weight: bolder;
    font-size: 28pt;
}

.active {     /*not working*/
    background-color: #d0c3ac;
    color: #3c2600;
    font-weight: bold;
}

a:hover {
    color: #d0c3ac;
    font-style: italic;
}

.hover {
    color: #d0c3ac;
    font-style: italic;
    margin-left: 15px;
}